<?xml version="1.0" ?>
<robot name="rosbot">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>

    <ros2_control name="WebotsControl" type="system">
      <hardware>
        <!-- When using Webots ros2_control implementation it is necessary to specify the following line in the ros2_control configuration. -->
        <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
      </hardware>
      <joint name="front left wheel motor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="front right wheel motor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="rear left wheel motor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="rear right wheel motor">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>
</robot>